<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="/lib/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/lib/jsoneditor.css" rel="stylesheet" type="text/css">
    <link href="/lib/datetimepicker.css" rel="stylesheet" type="text/css">
    <link href="/lib/multiselect.css" rel="stylesheet" type="text/css"/>
    <link href="/css/web.css" rel="stylesheet">
    <script type="text/javascript">
        const currentSystem = "<%=systemName%>"
        const version = '<%=version%>'
        let Switches = [
            <% Object.keys(switches).forEach(prop => { %>
                "<%- switches[prop].Name%>",
            <% }); %>
        ]
        let ControlSwitches = [
            <% Object.keys(controlSwitches).forEach(prop => { %>
                "<%- controlSwitches[prop].Name%>",
            <% }); %>
        ]
        const thresholds = <%- JSON.stringify(thresholds) %>;
        let syslogSourceList = <%- JSON.stringify(pings) %>;
        let syslogSourceListGroups = <%- JSON.stringify(pingGroups) %>;
        const webEnabled = <%=webEnabled%>;
        const webSocketEndpoint = '<%=webSocketEndpoint%>';
        const secureWebsockets = <%=secureWebSocketEndpoint%>;
    </script>
    <script type="text/javascript" src="/lib/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="/lib/ejs.js"></script>
    <script type="text/javascript" src="/lib/crypto-js.min.js"></script>
    <script type="text/javascript" src="/lib/commonWS.js"></script>
    <script type="text/javascript" src="/lib/chart.js"></script>
    <script type="text/javascript" src="/lib/moment.js"></script>
    <script type="text/javascript" src="/lib/chart-adapter-moment.js"></script>
    <script type="text/javascript" src="/lib/jsoneditor.js"></script>
    <script type="text/javascript" src="/lib/datetimepicker.js"></script>
    <script type="text/javascript" src="/lib/multiselect.js"></script>
    <script type="text/javascript" src="/js/web.js"></script>
    <title>Argos</title>
    <link id="favicon_48" rel="icon" href="/img/icon/icon.svg" sizes="256x256">
</head>

<body id="mainCont" class="h-100 d-flex flex-column <%-background%>" data-bs-theme="dark">
    <div id="loading" class="hidden"></div>
    <nav class="drag navbar navbar-expand-lg navbar-dark bg-title px-2 py-0 border-bottom">
        <a class="navbar-brand chilton" href="/">
            <img src="/img/icon/icon.svg" class="d-inline-block align-top" alt="" width="30" height="30">
            Argos
        </a>
        <div class="btn-group">
            <div class="w-auto" id="broken"></div>
            <div class="w-auto ms-2" id="webBroken"></div>
        </div>
        <div class="w-100 nav-tabs nav pt-2 ps-2 border-bottom-0" role="tablist">
            <button class="navTab nav-link text-light active" id="nav-media-tab" data-bs-toggle="tab" data-bs-target="#nav-media" type="button" role="tab" aria-controls="nav-media" aria-selected="true">Media</button>
            <button class="navTab nav-link text-light" id="nav-control-tab" data-bs-toggle="tab" data-bs-target="#nav-control" type="button" role="tab" aria-controls="nav-control" aria-selected="true">Control</button>
            <button class="navTab nav-link text-light" id="nav-interfaces-tab" data-bs-toggle="tab" data-bs-target="#nav-interfaces" type="button" role="tab" aria-controls="nav-interfaces" aria-selected="true">Interfaces</button>
            <button class="navTab nav-link text-light" id="nav-embrionix-tab" data-bs-toggle="tab" data-bs-target="#nav-embrionix" type="button" role="tab" aria-controls="nav-embrionix" aria-selected="true">Embrionix</button>
            <button class="navTab nav-link text-light" id="nav-temps-tab" data-bs-toggle="tab" data-bs-target="#nav-temps" type="button" role="tab" aria-controls="nav-temps" aria-selected="true">Temps/UPS</button>
            <button class="navTab nav-link text-light" id="nav-pings-tab" data-bs-toggle="tab" data-bs-target="#nav-pings" type="button" role="tab" aria-controls="nav-pings" aria-selected="true">Pings</button>
            <button class="navTab nav-link text-light" id="nav-debug-tab" data-bs-toggle="tab" data-bs-target="#nav-debug" type="button" role="tab" aria-controls="nav-debug" aria-selected="true">Debug</button>
            <button class="navTab nav-link text-light" id="nav-syslog-tab" data-bs-toggle="tab" data-bs-target="#nav-syslog" type="button" role="tab" aria-controls="nav-syslog" aria-selected="true">Syslog</button>
        </div>
        <div class="d-flex gap-2">
            <button class="btn btn-primary" id="toggleConfig">Config</button>
            <button class="btn btn-secondary" id="fullscreen">Fullscreen</button>
        </div>
    </nav>
    <main class="tab-content container-fluid py-3 overflow-auto">
        <%- include(views+'/tabs/media.ejs'); %>
        <%- include(views+'/tabs/control.ejs'); %>
        <%- include(views+'/tabs/interfaces.ejs'); %>
        <%- include(views+'/tabs/temps.ejs'); %>
        <%- include(views+'/tabs/pings.ejs'); %>
        <%- include(views+'/tabs/debug.ejs'); %>
        <%- include(views+'/tabs/syslog.ejs'); %>
    </main>
    
    <%- include(views+'/config.ejs'); %>
</body>

</html>
