<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="lib/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="lib/jsoneditor.css" rel="stylesheet" type="text/css">
    <link href="lib/datetimepicker.css" rel="stylesheet" type="text/css">
    <link href="lib/multiselect.css" rel="stylesheet" type="text/css"/>
    <link href="css/web.css" rel="stylesheet">
    <script type="text/javascript">
        const currentSystem = "<%=systemName%>"
        const version = '<%=version%>'
        let Switches = [
            <% Object.keys(switches).forEach(prop => { %>
                "<%- switches[prop].Name%>",
            <% }); %>
        ]
        let ControlSwitches = [
            <% Object.keys(controlSwitches).forEach(prop => { %>
                "<%- controlSwitches[prop].Name%>",
            <% }); %>
        ]
        let syslogSourceList = <%- JSON.stringify(pings) %>;
        const webEnabled = <%=webEnabled%>;
        const webSocketEndpoint = '<%=webSocketEndpoint%>';
        const secureWebsockets = <%=secureWebSocketEndpoint%>;
    </script>
    <script type="text/javascript" src="lib/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="lib/ejs.js"></script>
    <script type="text/javascript" src="lib/crypto-js.min.js"></script>
    <script type="text/javascript" src="lib/commonWS.js"></script>
    <script type="text/javascript" src="lib/chart.js"></script>
    <script type="text/javascript" src="lib/moment.js"></script>
    <script type="text/javascript" src="lib/chart-adapter-moment.js"></script>
    <script type="text/javascript" src="lib/jsoneditor.js"></script>
    <script type="text/javascript" src="lib/datetimepicker.js"></script>
    <script type="text/javascript" src="lib/multiselect.js"></script>
    <script type="text/javascript" src="js/web.js"></script>
    <title>Argos</title>
    <link id="favicon_48" rel="icon" href="img/icon/icon.svg" sizes="256x256">
</head>

<body class="h-100 d-flex flex-column <%-background%>">
    <div id="loading" class="hidden"></div>

    <nav class="drag navbar navbar-expand-lg navbar-dark bg-title px-2">
        <a class="navbar-brand" href="#">
            <img src="img/icon/icon.svg" class="d-inline-block align-top" alt="" width="30" height="30">
            Argos
        </a>
        <div class="btn-group">
            <div class="w-auto" id="broken"></div>
            <div class="w-auto ms-2" id="webBroken"></div>
        </div>
        <div class="d-flex gap-2 justify-content-center w-100 flex-wrap" role="tablist">
            <button class="btn btn-secondary navTab active" id="nav-media-tab" data-bs-toggle="tab" data-bs-target="#nav-media" type="button" role="tab" aria-controls="nav-media" aria-selected="true">Media</button>
            <button class="btn btn-secondary navTab" id="nav-control-tab" data-bs-toggle="tab" data-bs-target="#nav-control" type="button" role="tab" aria-controls="nav-control" aria-selected="true">Control</button>
            <button class="btn btn-secondary navTab" id="nav-pings-tab" data-bs-toggle="tab" data-bs-target="#nav-pings" type="button" role="tab" aria-controls="nav-pings" aria-selected="true">Pings</button>
            <button class="btn btn-secondary navTab" id="nav-debug-tab" data-bs-toggle="tab" data-bs-target="#nav-debug" type="button" role="tab" aria-controls="nav-debug" aria-selected="true">Debug</button>
            <button class="btn btn-secondary navTab" id="nav-syslog-tab" data-bs-toggle="tab" data-bs-target="#nav-syslog" type="button" role="tab" aria-controls="nav-syslog" aria-selected="true">Syslog</button>
            <button class="btn btn-secondary" id="toggleConfig">Edit Devices</button>
        </div>
    </nav>
    <main class="tab-content container-fluid py-3 overflow-auto">
        <%- include('tabs/media.ejs'); %>
        <%- include('tabs/control.ejs'); %>
        <%- include('tabs/pings.ejs'); %>
        <%- include('tabs/debug.ejs'); %>
        <%- include('tabs/syslog.ejs'); %>
    </main>
    
    <%- include('config.ejs'); %>
</body>

</html>