<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="lib/bootstrap.min.css" rel="stylesheet">
    <link href="lib/jsoneditor.css" rel="stylesheet">
    <link href="lib/datetimepicker.css" rel="stylesheet">
    <link href="css/web.css" rel="stylesheet">
    <script type="text/javascript">
        const currentSystem = "<%=systemName%>"
        const version = '<%=version%>'
        let Switches = [
            <% Object.keys(switches).forEach(prop => { %>
                "<%- switches[prop].Name%>",
            <% }); %>
        ]
        const webEnabled = <%=webEnabled%>
        const webSocketEndpoint = '<%=webSocketEndpoint%>'
        const secureWebsockets = <%=secureWebSocketEndpoint%>
    </script>
    <script type="text/javascript" src="lib/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="lib/ejs.js"></script>
    <script type="text/javascript" src="lib/crypto-js.min.js"></script>
    <script type="text/javascript" src="lib/commonWS.js"></script>
    <script type="text/javascript" src="lib/chart.js"></script>
    <script type="text/javascript" src="lib/moment.js"></script>
    <script type="text/javascript" src="lib/chart-adapter-moment.js"></script>
    <script type="text/javascript" src="lib/jsoneditor.js"></script>
    <script type="text/javascript" src="lib/datetimepicker.js"></script>
    <script type="text/javascript" src="js/web.js"></script>
    <title>Argos</title>
    <link id="favicon_48" rel="icon" href="img/icon/icon.svg" sizes="256x256">
</head>

<body class="bg-dark">
    <div id="loading" class="hidden"></div>

    <nav class="drag navbar navbar-expand-lg navbar-dark bg-title px-2">
        <a class="navbar-brand" href="#">
            <img src="img/icon/icon.svg" class="d-inline-block align-top" alt="" width="30" height="30">
            Argos
        </a>
        <div class="btn-group">
            <div class="w-auto" id="broken"></div>
            <div class="w-auto ms-2" id="webBroken"></div>
        </div>
        <div class="d-flex gap-2 justify-content-center w-100" role="tablist">
            <button class="btn btn-secondary active" id="nav-media-tab" data-bs-toggle="tab" data-bs-target="#nav-media" type="button" role="tab" aria-controls="nav-media" aria-selected="true">Media</button>
            <button class="btn btn-secondary disabled" id="nav-control-tab" data-bs-toggle="tab" data-bs-target="#nav-control" type="button" role="tab" aria-controls="nav-control" aria-selected="true">Control</button>
            <button class="btn btn-secondary" id="nav-control-tab" data-bs-toggle="tab" data-bs-target="#nav-pings" type="button" role="tab" aria-controls="nav-pings" aria-selected="true">Pings</button>
            <button class="btn btn-secondary" id="toggleConfig">Edit Devices</button>
            <button class="btn btn-secondary disabled" id="netboxConfig">Netbox Config</button>
        </div>
    </nav>
    <main class="tab-content container-fluid bg-dark pt-3">
        <section class="tab-pane fade show active mainCont masonry" id="nav-media" data-editor="media" role="tabpanel" aria-labelledby="nav-media-tab">
            <div class="text-light text-muted" id="col-alive">
                <h4>Missing devices</h4>
                <span class="text-muted">Last updated <span id="lastAlive"></span></span>
                <table id="alive" class="table table-dark text-muted">
                    <thead>
                        <th scope="col">Name</th>
                        <% Object.keys(switches).forEach(function(prop) { %>
                            <th scope="col"><%- switches[prop].Name%></th>
                        <% }); %>
                    </thead>
                    <tbody data-template="devices">
                    </tbody>
                </table>
            </div>
            <div class="text-light text-muted" id="col-mac">
                <h4>Connection Dropouts</h4>
                <span class="text-muted">Last updated <span id="lastMac"></span></span>
                <table id="mac" class="table table-dark text-muted">
                    <thead>
                        <th scope="col">Switch</th>
                        <th scope="col">Port</th>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Phy State</th>
                        <th scope="col">Last Change</th>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="text-light text-muted d-none" id="col-phy">
                <h4>Uncorrectable data (PHY FEC)</h4>
                <span class="text-muted">Last updated <span id="lastPhy"></span></span>
                <table id="phy" class="table table-dark text-muted">
                    <thead>
                        <th scope="col">Switch</th>
                        <th scope="col">Port</th>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Changes</th>
                        <th scope="col">Last Change</th>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="text-light text-muted" id="col-ups">
                <h4>UPS status</h4>
                <span class="text-muted">Last updated <span id="lastUps"></span></span>
                <table id="ups" class="table table-dark text-muted">
                    <thead>
                        <th scope="col">Name</th>
                        <th scope="col">Input</th>
                        <th scope="col">Output</th>
                        <th scope="col">Autonomy</th>
                        <th scope="col">Load</th>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="text-light text-muted" id="col-tra">
                <h4>Low SFP/QSFP fibre RX levels</h4>
                <span class="text-muted">Last updated <span id="lastTra"></span></span>
                <table id="tra" class="table table-dark text-muted">
                    <thead>
                        <th scope="col">Switch</th>
                        <th scope="col">Port</th>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">RX power</th>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="text-light" id="col-hot">
                <h4>IQ Frame Temperatures</h4>
                <span class="text-muted">Last updated <span id="lastHot">never</span></span>
                <canvas id="tempChart"></canvas>
                <div class="buttonBox">
                    <div>
                        Select from
                        <button id="tempFromPick" class="btn btn-secondary btn-sm"></button>
                        <input type="hidden" id="tempFrom" value="">
                        until
                        <button id="tempToPick" class="btn btn-secondary btn-sm"></button>
                        <input type="hidden" id="tempTo" value="">
                    </div>
                    <div class="pt-1">
                        Or the last
                        <button class="tempBut btn btn-secondary btn-sm" data-time="2419200">Month</button>
                        <button class="tempBut btn btn-secondary btn-sm" data-time="604800">Week</button>
                        <button class="tempBut btn btn-secondary btn-sm" data-time="86400">Day</button>
                        <button class="tempBut btn btn-secondary btn-sm" data-time="43200">12 Hours</button>
                        <button class="tempBut btn btn-secondary btn-sm" data-time="21600">6 Hours</button>
                        <button class="tempBut btn btn-secondary btn-sm" data-time="7200">2 Hours</button>
                    </div>
                </div>
            </div>
            <% if (webEnabled) { %>
                <div class="text-light" id="col-ping">
                    <h4>Argos to internet pings</h4>
                    <span class="text-muted">Last updated <span id="lastPing">never</span></span>
                    <canvas id="pingChart"></canvas>
                    <div class="buttonBox">
                        <div>
                            Select from
                            <button id="pingFromPick" class="btn btn-secondary btn-sm"></button>
                            <input type="hidden" id="pingFrom" value="">
                            until
                            <button id="pingToPick" class="btn btn-secondary btn-sm"></button>
                            <input type="hidden" id="pingTo" value="">
                        </div>
                        <div class="pt-1">
                            Or the last
                            <button class="pingBut btn btn-secondary btn-sm" data-time="2419200">Month</button>
                            <button class="pingBut btn btn-secondary btn-sm" data-time="604800">Week</button>
                            <button class="pingBut btn btn-secondary btn-sm" data-time="86400">Day</button>
                            <button class="pingBut btn btn-secondary btn-sm" data-time="43200">12 Hours</button>
                            <button class="pingBut btn btn-secondary btn-sm" data-time="21600">6 Hours</button>
                            <button class="pingBut btn btn-secondary btn-sm" data-time="7200">2 Hours</button>
                        </div>
                    </div>
                </div>
                <div class="text-light" id="col-online">
                    <h4>Argos boots</h4>
                    <span class="text-muted">Last updated <span id="lastBoot">never</span></span>
                    <canvas id="bootChart"></canvas>
                    <div class="buttonBox">
                        <div>
                            Select from
                            <button id="bootFromPick" class="btn btn-secondary btn-sm"></button>
                            <input type="hidden" id="bootFrom" value="">
                            until
                            <button id="bootToPick" class="btn btn-secondary btn-sm"></button>
                            <input type="hidden" id="bootTo" value="">
                        </div>
                        <div class="pt-1">
                            Or the last
                            <button class="bootBut btn btn-secondary btn-sm" data-time="2419200">Month</button>
                            <button class="bootBut btn btn-secondary btn-sm" data-time="604800">Week</button>
                            <button class="bootBut btn btn-secondary btn-sm" data-time="86400">Day</button>
                            <button class="bootBut btn btn-secondary btn-sm" data-time="43200">12 Hours</button>
                            <button class="bootBut btn btn-secondary btn-sm" data-time="21600">6 Hours</button>
                            <button class="bootBut btn btn-secondary btn-sm" data-time="7200">2 Hours</button>
                        </div>
                    </div>
                    <pre class="infoBox" id="bootTime"></pre>
                </div>
            <% } %>
        </section>
        <section class="tab-pane fade" id="nav-control" data-editor="control" role="tabpanel" aria-labelledby="nav-control-tab">Control Here</section>
        <section class="tab-pane fade masonry" id="nav-pings" data-editor="pings" role="tabpanel" aria-labelledby="nav-pings-tab">
            <div class="text-light" id="col-pings-up">
                <h4>Alive Devices</h4>
                <span class="text-muted">Last updated <span id="lastLocalPingUp">never</span></span>
                <table id="pingLocalUp" class="table table-dark">
                    <thead>
                        <th scope="col" class="bg-success">Name</th>
                        <th scope="col" class="bg-success">IP</th>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="text-light" id="col-pings-down">
                <h4>Down Devices</h4>
                <span class="text-muted">Last updated <span id="lastLocalPingDown">never</span></span>
                <table id="pingLocalDown" class="table table-dark">
                    <thead>
                        <th scope="col" class="bg-danger">Name</th>
                        <th scope="col" class="bg-danger">IP</th>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </section>
    </main>
    
    <article id="config" class="overflow-auto hidden pt-5">
        <section class="bg-dark text-light alert text-nowrap container flex-column d-flex mb-0">
            <div class="row mt-2">
                <h3 class="w-50">Edit Devices</h3>
            </div>

            <div class="nav nav-pills mb-2 nav-justified" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-switches-tab" data-bs-toggle="tab" data-bs-target="#nav-switches" type="button" role="tab" aria-controls="nav-switches" aria-selected="true">Core Switches</button>
                <button class="nav-link" id="nav-devices-tab" data-bs-toggle="tab" data-bs-target="#nav-devices" type="button" role="tab" aria-controls="nav-devices" aria-selected="false">Devices</button>
                <button class="nav-link" id="nav-ups-tab" data-bs-toggle="tab" data-bs-target="#nav-ups" type="button" role="tab" aria-controls="nav-ups" aria-selected="false">Ups</button>
                <button class="nav-link" id="nav-temperatures-tab" data-bs-toggle="tab" data-bs-target="#nav-temperatures" type="button" role="tab" aria-controls="nav-temperatures" aria-selected="false">Temperatures</button>
                <button class="nav-link" id="nav-ping-config-tab" data-bs-toggle="tab" data-bs-target="#nav-ping-config" type="button" role="tab" aria-controls="nav-ping-config" aria-selected="false">Pings</button>
            </div>

            <section class="tab-content overflow-auto">
                <div class="tab-pane fade show active" id="nav-switches" data-editor="switches" role="tabpanel" aria-labelledby="nav-switches-tab">
                    <div class="dataTable collapse show">
                        <table class="table table-dark" data-editor="switches">
                            <thead class="position-sticky top-0">
                                <tr>
                                    <th class="">Name</th>
                                    <th class="">IP</th>
                                    <th class="">Username</th>
                                    <th class="">Password</th>
                                    <th class="">Type</th>
                                    <th class=""></th>
                                </tr>
                            </thead>
                            <tbody id="configSwitches" data-template="switch"></tbody>
                        </table>
                    </div>
                    <div class="dataRaw collapse mt-3">
                        <div id="configSwitchesRaw"></div>
                    </div>
                </div>

                <div class="tab-pane fade" id="nav-devices" data-editor="devices" role="tabpanel" aria-labelledby="nav-devices-tab">
                    <div class="dataTable collapse show">
                        <table class="table table-dark" data-editor="devices">
                            <thead class="position-sticky top-0">
                                <tr>
                                    <th class="w-25">Hostname</th>
                                    <th class="w-25">Description</th>
                                    <th class="w-25"></th>
                                </tr>
                            </thead>
                            <tbody id="configDevices" data-template="devices"></tbody>
                        </table>
                    </div>
                    <div class="dataRaw collapse mt-3">
                        <div id="configDevicesRaw"></div>
                    </div>
                </div>

                <div class="tab-pane fade" id="nav-ups" data-editor="ups" role="tabpanel" aria-labelledby="nav-ups-tab">
                    <div class="dataTable collapse show">
                        <table class="table table-dark" data-editor="ups">
                            <thead class="position-sticky top-0">
                                <tr>
                                    <th class="w-25">Name</th>
                                    <th class="w-25">IP</th>
                                    <th class="w-25">
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="configUps" data-template="nameIP"></tbody>
                       </table>
                    </div>
                    <div class="dataRaw collapse mt-3">
                        <div id="configUpsRaw"></div>
                    </div>
                </div>

                <div class="tab-pane fade" id="nav-temperatures" data-editor="frames" role="tabpanel" aria-labelledby="nav-temperatures-tab">
                    <div class="dataTable collapse show">
                        <table class="table table-dark" data-editor="frames">
                            <thead class="position-sticky top-0">
                                <tr>
                                    <th class="w-25">Name</th>
                                    <th class="w-25">IP</th>
                                    <th class="w-25"></th>
                                </tr>
                            </thead>
                            <tbody id="configFrames" data-template="nameIP"></tbody>
                        </table>
                    </div>
                    <div class="dataRaw collapse mt-3">
                        <div id="configFramesRaw"></div>
                    </div>
                </div>

                <div class="tab-pane fade" id="nav-ping-config" data-editor="pings" role="tabpanel" aria-labelledby="nav-ping-config-tab">
                    <div class="dataTable collapse show">
                        <table class="table table-dark" data-editor="pings">
                            <thead class="position-sticky top-0">
                                <tr>
                                    <th class="w-25">Name</th>
                                    <th class="w-25">IP</th>
                                    <th class="w-25"></th>
                                </tr>
                            </thead>
                            <tbody id="configPings" data-template="nameIP"></tbody>
                        </table>
                    </div>
                    <div class="dataRaw collapse mt-3">
                        <div id="configPingsRaw"></div>
                    </div>
                </div>
            </section>

            <div class="mt-3 mx-0 align-self-end">
                <button class="btn btn-primary toggleTableRaw" type="button">Toggle View</button>
                <button class="btn btn-primary tableNew" type="button">Add new</button>
                <button class="btn btn-success tableSave" type="button">Save</button>
                <button id="closeConfig" class="btn btn-danger">Close</button>
            </div>
        </section>
    </article>
</body>

</html>